*
!lib
!include
!tree-sitter
!tree-sitter-bash
!tree-sitter-c
!tree-sitter-cpp
!tree-sitter-css
!tree-sitter-go
!tree-sitter-haskell
!tree-sitter-html
!tree-sitter-java
!tree-sitter-javascript
!tree-sitter-julia
!tree-sitter-php
!tree-sitter-python
!tree-sitter-ruby
!tree-sitter-rust
!tree-sitter-scala
!build.py
